:root {
    --font: 'DM Sans', sans-serif;

    --dark-text-color: #222222;
    --light-text-color: #555555;

    --desktop-width: 1440px;
    --desktop-padding: 20px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: var(--desktop-width);
    height: 100%;

    justify-self: center;
    padding-top: var(--desktop-padding);
    padding-bottom: var(--desktop-padding);

    background-color: #efefef;
}

header {
    position: absolute;
    z-index: 2;

    width: var(--desktop-width);
    height: 120px;

    background-color: transparent;

    padding-right: 144px;
    padding-left: 144px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .navigation-container {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    & .title {
        color: white;
        font-family: var(--font);
        font-weight: 700;
        font-size: 24px;
    }

    & .navigation-container .nav-item {
        display: flex;
        flex-direction: row;
        color: white;

        align-items: center;
        justify-content: space-around;
        gap: 5px;
        
        font-family: var(--font);
        font-weight: 400;
        font-size: 16px;

        padding: 5px 5px;
        border-radius: 15px;

        transition: color 0.15s ease, background-color 0.15s ease, background-image 0.15s ease;
        
        && .arrow {
            margin-top: 4px;
            width: 20px;
            height: 20px;
            background-image: url("../images/Icons/Nav-arrow-down.svg");
        }
    }

    & .navigation-container .nav-item:hover {
        color: #086CF9;
        background-color: white;

        && .arrow {
            background-image: url("../images/Icons/Nav-arrow-down-blue.svg");
        }
    }
}

main {
    position: relative;
}

section.hero-section {
    z-index: 1;

    width: 100%;
    height: 790px;

    background-image: url("../images/General/Title_Image.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    text-align: center;
    font-family: var(--font);
    color: white;

    & .hero-title {
        margin-top: -150px;

        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 30px;

        && h1 {
            font-weight: bold;
            font-size: 55px;

            max-width: calc(var(--desktop-width) * 0.68);
            max-height: 73px;
        }

        && p {
            font-weight: 400;
            font-size: 16px;

            max-width: calc(var(--desktop-width) * 0.6);
            max-height: 60px;
        }
    }

    & button.start-course {
        padding: 16px 30px;
        width: calc(var(--desktop-width) * 0.12);
        height: 46px;

        background-color: #4f88d9;
        border-radius: 5px;

        border: none;
        outline: none;
        
        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color 0.3s ease, border-radius 0.3s ease;

        && p {
            color: white;
            font-family: var(--font);
            font-size: 16px;
            font-weight: 500;
        }

        &&:hover {
            background-color: #086CF9;
            border-radius: 15px;
        }
    }
}

section.about-service-section {
    z-index: 1;

    width: 100%;
    height: 1370px;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 130px;

    & .stats-container {
        z-index: 2;

        font-family: var(--font);

        width: calc(var(--desktop-width) * (1152px / var(--desktop-width)));
        height: 192px;

        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.075);
        background-color: white;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        justify-self: center;
        margin-top: -50px;

        && .stats-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;

            &&& h1 {
                font-size: 36px;
                font-weight: 700;
                color: var(--dark-text-color);
            }

            &&& p {
                font-size: 16px;
                font-weight: 400;
                color: #086cf9;
            }
        }
    }

    & .about-container {
        z-index: 2;

        font-family: var(--font);

        width: calc(var(--desktop-width) * (1152px / var(--desktop-width)));
        height: 433px;

        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.075);
        background-color: white;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & .info-container {
            width: 50%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;

            padding: 10px 10px;

            && h1 {
                font-weight: 700;
                font-size: 48px;
                color: var(--dark-text-color);

                max-width: calc(var(--desktop-width) * (519px / var(--desktop-width)));
            }

            && p._1 {
                font-weight: 400;
                font-size: 16px;
                color: var(--dark-text-color);

                max-width: calc(var(--desktop-width) * (478px / var(--desktop-width)));
            }

            && p._2 {
                font-weight: 400;
                font-size: 20px;
                color: var(--dark-text-color);

                max-width: calc(var(--desktop-width) * (478px / var(--desktop-width)));
            }

            && button {
                width: calc(var(--desktop-width) * (149px / var(--desktop-width)));
                height: 56px;

                background-color: #086cf9;
                outline: none;
                border: none;
                border-radius: 5px;

                display: flex;
                justify-content: center;
                align-items: center;

                transition: background-color 0.3s ease, border-radius 0.3s ease;

                &&& p {
                    font-family: var(--font);
                    font-weight: 500;
                    font-size: 16px;
                    color: white;
                }

                &&&:hover {
                    background-color: #1a509c;
                    border-radius: 15px;
                }
            }
        }

        & .thumbnail-container {
            width: 50%;
            height: 100%;
            background-image: url("../images/General/Subtitle_Image.png");

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    & .service-container {
        z-index: 2;

        font-family: var(--font);
        text-align: center;

        width: calc(var(--desktop-width) * (1152px / var(--desktop-width)));
        height: 389px;

        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.075);
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        & .title-info {
            max-width: calc(var(--desktop-width) * (423px / var(--desktop-width)));
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            && h2 {
                font-weight: 700;
                font-size: 48px;
                color: var(--dark-text-color);
            }

            && p {
                font-weight: 400;
                font-size: 16px;
                color: var(--light-text-color);
            }
        }

        & .features-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;

            & img {
                width: 74px;
                height: 74px;
            }

            & h3 {
                font-weight: 700;
                font-size: 24px;
                color: var(--dark-text-color);
                margin-top: 15px;
            }

            & p {
                font-weight: 400;
                font-size: 14px;
                color: var(--light-text-color);
                margin-top: 15px;
            }
        }
    }
}

section.catalog-section {
    z-index: 1;

    width: 100%;
    height: 1393px;

    background-color: #d3e5fe;

    font-family: var(--font);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 50px;

    & p, a {
        color: var(--light-text-color);
    }
    & h1, h2, h3, h4, h5, h6 {
        color: var(--dark-text-color);
    }

    & div.title-info {
        margin-top: 50px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 124px;

        && h2 {
            font-weight: 700;
            font-size: 44px;
            max-width: calc(var(--desktop-width) * (574px / var(--desktop-width)));
        }

        && p {
            font-weight: 400;
            font-size: 16px;
            max-width: calc(var(--desktop-width) * (674px / var(--desktop-width)));
        }
    }

    & section.courses-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        && .course-item {
            padding: 20px 20px;
            background-color: white;
            border-radius: 6px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            width: calc(var(--desktop-width) * (370px / var(--desktop-width)));
            height: 440px;

            &&& .course-thumbnail, .course-info, .course-description {
                width: calc(var(--desktop-width) * (320px / var(--desktop-width)));
            }

            &&& .course-info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &&&& .course-name {
                    font-weight: 700;
                    font-size: 24px;
                }

                &&&& .course-price {
                    font-weight: 700;
                    font-size: 24px;
                    color: #086CF9;
                }
            }

            &&& .course-description {
                font-weight: 400;
                font-size: 14px;
            }
        }
    }

    & button.view-courses {
        width: calc(var(--desktop-width) * (182px / var(--desktop-width)));
        height: 56px;

        background-color: #086cf9;
        outline: none;
        border: none;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color 0.3s ease, border-radius 0.3s ease;

        && p {
            font-family: var(--font);
            font-weight: 500;
            font-size: 16px;
            color: white;
        }

        &&:hover {
            background-color: #1a509c;
            border-radius: 15px;
        }
    }
}

section.events-section {
    z-index: 1;

    width: 100%;
    height: 818px;

    padding: 100px 100px;

    background-color: #ffffff;

    font-family: var(--font);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 50px;

    & p, a {
        color: var(--light-text-color);
    }
    & h1, h2, h3, h4, h5, h6 {
        color: var(--dark-text-color);
    }

    & .title-info {
        max-width: calc(var(--desktop-width) * (421px / var(--desktop-width)));
        height: 124px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        && h2 {
            font-weight: 700;
            font-size: 48px;
            color: var(--dark-text-color);
        }

        && p {
            font-weight: 400;
            font-size: 16px;
            color: var(--light-text-color);
        }
    }

    & .events-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;

        && .event-item {
            width: calc(var(--desktop-width) * (368px / var(--desktop-width)));
            height: 390px;

            background-color: var(--accent-color);
            border-radius: 6px;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 20px;

            &&& div.thumbnail {
                width: calc(var(--desktop-width) * (368px / var(--desktop-width)));
                height: 240px;

                &&&& div.date {
                    position: absolute;
                    margin-top: -245px;

                    width: 65px;
                    height: 65px;
                    padding: 15px 15px;

                    background-color: var(--accent-color);
                    border-radius: 6px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &&&&& h3 {
                        color: white;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
            }

            &&& h3.event-name {
                max-width: calc(var(--desktop-width) * (321px / var(--desktop-width)));
                max-height: 52px;

                text-align: left;
                font-weight: 500;
                font-size: 20px;
            }

            &&& div.event-info {
                width: calc(var(--desktop-width) * (321px / var(--desktop-width)));
                height: 22px;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &&&& div.time, div.location {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    &&&&& p {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

footer {
    z-index: 1;

    width: 100%;
    height: 421px;

    background-color: #d3e5fe;

    font-family: var(--font);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p, a {
        color: var(--light-text-color);
    }
    & h1, h2, h3, h4, h5, h6 {
        color: var(--dark-text-color);
    }

    & section.info-container {
        width: calc(var(--desktop-width) * (1144px / var(--desktop-width)));
        height: 281px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        && section.common-info {
            width: calc(var(--desktop-width) * (360px / var(--desktop-width)));
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;

            text-align: left;

            &&& h2 {
                font-weight: 700;
                font-size: 30px;
            }

            &&& p {
                font-weight: 400;
                font-size: 16px;
            }

            &&& div.follow-options-list {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 15px;

                &&&& button {
                    width: 50px;
                    height: 50px;
                    border: none;
                    outline: none;
                    background-color: white;
                    border-radius: 4px;

                    &&&&& img {
                        width: 22px;
                    }

                    &&&&&:hover {
                        border-radius: 10px;
                    }
                }
            }
        }

        && section.lists-info {
            width: calc(var(--desktop-width) * (784px / var(--desktop-width)));
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: start;
            gap: 90px;

            &&& h2 {
                font-weight: 700;
                font-size: 30px;
            }

            &&& p {
                font-weight: 400;
                font-size: 16px;
            }

            &&& .feature-list, .support-list {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 30px;

                &&&& .categories-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    gap: 15px;

                    &&&&& .list-item {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }

                    &&&&& .list-item > a:hover {
                        color: #086cf9;
                    }
                }
            }

            &&& .contact-us-list {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 30px;
                
                &&&& a, p {
                    max-width: calc(var(--desktop-width) * (203px / var(--desktop-width)));
                    text-align: left;
                }

                &&&& .contacts-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 15px;

                    &&&&& .contact-item {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        
                        &&&&&& p, a {
                            color: var(--accent-color);
                        }
                    }
                }
            }
        }
    }
}